.filtros {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.filtros label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.filtros input[type="text"] {
  flex-grow: 1;
  padding: 15px 20px;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
}

.buttons-filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-button, .clear-button {
  padding: 1rem;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.search-button {
  background-color: #00a65a;
}

.clear-button {
  background-color: #dd4b39;
}
